*{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #F8F7F1;
  text-decoration: none;
}
img{
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}
body{
  margin: 0px;
}
a{
  color: #000000;
}
a:hover{
  color: #fa692f;
}
.h_cr{  
    display: grid;
    grid-template-columns: 10% 7.5% 7.5% 15% 8% .5% 8% 0.5% 8% 10% 15% 10%;
    grid-template-rows: 25% 20% 10% 20% 25%;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . . . . . . . . . . . ."
      ". logo logo . . . . . . . . . icon ."
      ". logo logo . t1 . t2 . t3 . tel_num . icon ."
      ". logo logo . . . . . . . . . icon ."
      ". . . . . . . . . . . . . ."; 
    height: 170px;
    text-align: center;
    font-size: 30;
    color: black;
  }

  .h_logo { 
    grid-area: logo;
    align-items: center;
  }
  
  .h_t1 { 
    grid-area: t1;
    font-size: 19px;
  }
  
  .h_t2 { 
    grid-area: t2;
    font-size: 19px;
  }
  
  .h_t3 { 
    grid-area: t3;
    font-size: 19px;
  }
  
  .h_tel_num { 
    grid-area: tel_num;
    font-size: 19px;
  }

.lg_cr{  display: grid;
  grid-template-columns: 10% 5% 18% 35% 4% 24% 4%;
  grid-template-rows: 12.5% 21% 26% 13% 27.5%;
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . . . ."
    ". tx_ul tx_ul . . tx_ur ."
    ". . . img_man . . ."
    ". num_dl tx_dl img_man . . ."
    ". . . img_man . . .";
  height: 849px;
}

.lg_tx_ul { 
  grid-area: tx_ul; 
  font-size: 18px;
}

.lg_num_dl { 
  grid-area: num_dl;
  font-size: 40px;
}

.lg_tx_dl { 
  grid-area: tx_dl;
  font-size: 22px;
}

.lg_img_man { 
  grid-area: img_man;
  align-self: center;
}

.lg_tx_ur { 
grid-area: tx_ur;
font-size: 55px;
text-align: center right;
}
/*
.overlay {
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.9); 
  overflow-x: hidden; 
  transition: 0.5s; 
}


.overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px; 
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s; 
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}



@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
} */

/* @media bs*/
@media only screen and (max-width: 1300px){
  .h_t1 { 
    grid-area: t1;
    font-size: 16px;
  }
  
  .h_t2 { 
    grid-area: t2;
    font-size: 16px;
  }
  
  .h_t3 { 
    grid-area: t3;
    font-size: 16px;
  }
  
  .h_tel_num { 
    grid-area: tel_num;
    font-size: 16px;
  }
}
@media only screen and (max-height: 982px){
  .lg_cr{
    height: 691px;
  }
}
@media only screen and (max-width: 1100px){
  .h_t1 { 
    grid-area: t1;
    font-size: 14px;
  }
  
  .h_t2 { 
    grid-area: t2;
    font-size: 14px;
  }
  
  .h_t3 { 
    grid-area: t3;
    font-size: 14px;
  }
  
  .h_tel_num { 
    grid-area: tel_num;
    font-size: 14px;
  }
}
@media only screen and (max-width: 500px){

}